<div class="side-header">
    <div class="user-name">
        <h2>Tom</h2>
    </div>
    <div class="chat-create">
        <p>チャット作成を予定</p>
    </div>
</div>
<div class="rooms">
    <div class="room">
        <div class="room-name">
            <a href="#">techroom1</a>
        </div>
    </div>
    <div class="room">
        <div class="room-name">
            <a href="#">techroom2</a>
        </div>
    </div>
</div>